<!DOCTYPE html>
<html>
<head>
    <title>蚁境 - <%= htmlWebpackPlugin.options.title%></title>
    <%= require('html-loader!./layout/head-common.html')  %>
</head>
<body>
    <%= require('html-loader!./layout/simple-header.html')  %>
    <div class="panel">
        <div class="layui-tab layui-tab-brief" lay-filter="user">
            <ul class="layui-tab-title">
                <li class="layui-this">登入</li>
                <li><a href="reg.html">注册</a></li>
            </ul>
            <div class="layui-form layui-tab-content" >
                <div class="layui-tab-item layui-show">
                    <div class="layui-form layui-form-pane">
                        <form method="post">
                          <div class="layui-form-item">
                            <label for="L_sno" class="layui-form-label">
                                <i class="layui-icon layui-icon-username"></i>学号</label>
                            <div class="layui-input-inline">
                              <input type="text" id="L_sno" name="usersno" required="" lay-verify="required|number" autocomplete="off" class="layui-input">
                            </div>
                          </div>
                          <div class="layui-form-item">
                            <label for="L_pass" class="layui-form-label">
                            <i class="layui-icon layui-icon-password"></i>密码</label>
                            <div class="layui-input-inline">
                              <input type="password" id="L_pass" name="password" required="" lay-verify="required" autocomplete="off" class="layui-input">
                            </div>
                          </div>
                            <div class="layui-form-mid">
                              <span style="color: #c00;display: none;">{{d.vercode}}</span>
                            </div>
                          </div>
                          <div class="layui-form-item">
                            <button class="layui-btn" lay-filter="*" lay-submit="">立即登录</button>
                            <span class="forget">
                              <a href="forget.html">忘记密码？</a>
                            </span>
                          </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%= require('html-loader!./layout/footer.html')  %>
</body>
</html>