/*
* @Author: 93935
* @Date:   2018-10-24 10:08:55
* @Last Modified by:   93935
* @Last Modified time: 2018-10-24 21:13:51
*/
body{
    background-color: #468ed8;
}
.panel{
    width: 480px;
    height: 400px;
    margin: 100px auto 0 auto;
}
.panel button{
    display: block;
    margin: 10px auto;
}
.layui-tab-content{
    margin-top:30px;
    font-size: 15px;
    padding: 0 30px;
}
.layui-form-pane .layui-form-label{
    width: 135px;
}
.layui-form-item .layui-input-inline{
    width: 260px;
}
.forget{
    display: block;
    text-align: center;
    font-size: 13px;
}
.layui-form-item i{
    margin-right: 5px;
}
.valid.layui-input{
    width: 142px;
    margin-bottom: 10px;
    display: inline-block;
}
#valid-btn{
    width: 110px;
    display: inline-block;
    margin: -1px 0 0 0;
}
#forget-btn{
    margin:10px auto;
}
.login{
    display: block;
    text-align: center;
    font-size: 13px;
    color: #333;
}